@mixin list-wrap {
  list-style: none;
  display: flex;
  padding: 0;
  transition: 0.5s;
}
@mixin li {
  display: flex;
  align-items: center;
  overflow: hidden;
  cursor: pointer;
}
body {
  margin: 0;
}
.container {
  width: 100%;
  height: 100%;
  position: relative;
  .browser {
    display: flex;
    align-items: center;
    margin: auto;
    background-color: rgba(210, 221, 221, 0.7);
    position: relative;
    i {
      cursor: pointer;
      &:hover {
        color: white;
      }
    }
    .galleryWrapper {
      margin: auto;
      overflow: hidden;
      .gallery {
        @include list-wrap;
        li {
          min-width: 100%;
          max-height: 300px;
          @include li;
          img {
            max-width: 100%;
          }
        }
      }
    }
    .navigationDots {
      list-style: none;
      display: flex;
      position: absolute;
      bottom: -12px;
      left: 50%;
      transform: translateX(-50%);
      padding: 0;
      li:first-child {
        background-color: rgb(84, 84, 80);
      }
      li {
        height: 7px;
        width: 9px;
        border-radius: 50%;
        background-color: rgb(173, 173, 164);
        margin: 0 2%;
      }
    }
  }
  .display {
    .selectedWrapper {
      width: 100%;
      height: 80%;
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: rgba(0, 0, 0, 0.7);
      position: relative;
      overflow: hidden;
      .previousPhoto {
        position: absolute;
        bottom: 5px;
        left: 40%;
        cursor: pointer;
        &:hover {
          color: white;
        }
      }
      .nextPhoto {
        position: absolute;
        bottom: 5px;
        right: 40%;
        cursor: pointer;
        &:hover {
          color: white;
        }
      }
      .close {
        position: absolute;
        top: 10px;
        right: 10px;
        cursor: pointer;
        &:hover {
          color: white;
        }
      }
      .selectedPhoto {
        @include list-wrap;
        height: 85%;
        li {
          min-width: 100%;
          justify-content: center;
          @include li;
          img {
            max-width: 300px;
          }
        }
      }
    }
    .thumbnailsWrap {
      background-color: rgba(0, 0, 0, 0.7);
      width: 100%;
      height: 20%;
      margin: 0;
      overflow: auto;
      .thumbnails {
        height: 100%;
        list-style: none;
        display: flex;
        align-items: center;
        padding: 0;
        margin: 0;
        li {
          min-width: 100px;
          max-height: 80px;
          display: flex;
          align-items: center;
          margin: 0 2%;
          cursor: pointer;
          overflow: hidden;
          img {
            max-width: 100%;
            max-height: 100%;
            transition: 0.5s;
          }
        }
      }
    }
  }
}
.none {
  display: none !important;
}
@media (min-width: 400px) {
  .container {
    .display {
      .selectedWrapper {
        .selectedPhoto {
          li {
            img {
              max-width: 400px;
            }
          }
        }
      }
    }
  }
}
@media (min-width: 700px) {
  .container {
    .browser {
      width: 600px;
    }
    .display {
      .selectedWrapper {
        .selectedPhoto {
          li {
            img {
              max-height: 100%;
              max-width: 100%;
            }
          }
        }
      }
    }
  }
}
